*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #23262e;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e0def3;
}
.wrap{
    width: 1340px;
    height: 800px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 10px 10px 50px ;
    display: grid;
    grid-template-rows: 100px 1fr;
    overflow: hidden;
}
.nav{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    background: #fff;
}
.logo{
    width: 10%;
    height: 10%;
    border:none;
}
.content{
    width: 1240px;
    height: 650px;
    margin: 0 auto;
    position: relative;
    display: flex;
    align-items: center;
}
.video{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    transition: 0.5s;
}
.video video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.btn{
    border: 1px solid #e1e1e0;
    padding: 10px;
    border-radius: 20px;
    font-size: 20px;
}
.text{
    position: absolute;
    left: -500px;
    transition: 0.5s;
    opacity: 0;

}
.text h1{
    font-size: 70px;
    line-height: 100%;
    font-family: 沐瑶随心手写体;
}
.text h2{
    font-size: 32px;
    padding: 30px 0;
    font-weight: 200;
}
.more{
    width: 150px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #e46036;
    color: #fff;
    border-radius: 10px;
}
.page{
    margin-top: 80px;
}
.page span{
    font-size: 18px;
}
.star1{
    position: absolute;
    top: 20%;
    left: 120%;
    z-index: 999;
    transition: 1s;
    animation: bounce 3s infinite;
}
.star2{
    position: absolute;
    top: 80%;
    left: 120%;
    z-index: 999;
    transition: 1s;
    animation: bounce 3s infinite;
}
.star3{
    position: absolute;
    top: 50%;
    left: 160%;
    z-index: 999;
    transition: 1s;
    animation: bounce 3s infinite;
}
/*星星动画*/
@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-20px);
    }
    100%{
        transform: translateY(0);
    }
}
.slogan{
    width: 100%;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 0;
    transition: 0.5s;
}
.slogan .more{
    margin: 50px auto;
}
.slogan h1{
    font-size: 70px;
    line-height: 120%;
    color: #fff;
}
/*文字动画*/
.content:hover .text{
    position: absolute;
    left: 0;
    opacity: 1;
    z-index: 888;
}
/*星星动画*/
.content:hover .star1{
    position: absolute;
    top: 20%;
    left: 45%;
    z-index:999;
}
.content:hover .star2{
    position: absolute;
    top: 80%;
    left: 42%;
    z-index:999;
}
.content:hover .star3{
    position: absolute;
    top: 50%;
    left: 96%;
    z-index:999;
}
/*视频缩放动画*/
.content:hover .video{
    width: 50%;
    position: absolute;
    right: 0px;
    top: 0px;
}
/*视频内文字移动效果*/
.content:hover .slogan{
    position: absolute;
    left: -600px;
}