*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #131417;
    background-image: linear-gradient(315deg,#131417 0%,#1e1f26 74%);

}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

.box{
    position: relative;
    display: flex;
    /*外层光大小，可调整*/
    width: 320px;
    height: 400px;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}

/*卡片整体调整*/
.content{
    position: relative;
    left: 0;
    padding: 20px 40px;
    color: #fff;
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(10px);
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    border-radius: 8px;
    z-index: 1;
    transition: 0.5s;
}
/*卡片标题*/
.content h2{
    font-size: 2em;
    color: #fff;
    margin-bottom: 10px;
}
/*卡片内容调整*/
.content p{
    font-size: 1.1em;
    margin-bottom: 10px;
    line-height: 1.4em;
}
/*按钮调整*/
.content a{
    display: inline-block;
    font-size: 1.1em;
    color: #111;
    background: #fff;
    padding: 10px;
    border-radius: 4px;
    text-decoration: none;
    font-width: 700;
    margin-top: 5px;
    transition: 0.6s;
}

/*鼠标悬停卡片动画*/
.box:hover .content{
    left: -25px;
    padding: 60px 40px;

}
/*鼠标悬停按钮变化*/
.content a:hover{
    background: #696793;
    color: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 15px #222;

}
/*背后颜色光影*/
.box::before{
    content: "";
    position: absolute;
    background: #fff;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    text-decoration: none;
    border-radius: 8px ;
    transform: skewX(15deg);
    transition: 0.5s;
}

.box::after{
    content: "";
    position: absolute;
    background: #fff;
    top: 0;
    left: 30px;
    width: 50%;
    height: 100%;
    border-radius: 8px;
    transform: skewX(15deg);
    filter: blur(30px);
    transition: 0.5s;
}

.box:hover::before,
.box:hover::after{
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);

}
/*光影渐变颜色调整*/
.box:nth-child(1)::before,
.box:nth-child(1)::after{
    background: linear-gradient(315deg,#ffbc00,#ff0058);

}
.box:nth-child(2)::before,
.box:nth-child(2)::after{
    background: linear-gradient(315deg, #32bdbd, #a109a6);

}
.box:nth-child(3)::before,
.box:nth-child(3)::after{
    background: linear-gradient(315deg, #8c88ce, #183956);
}


.box span{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
    pointer-events: none;
}

.box span::before{
    content: "";
    position: absolute;
    background: rgba(255,255,255,0.1);
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 0;
    transition: 0.3s;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    animation: animate 4s ease-in infinite;
    animation-delay: 0s;
}

.box:hover span::before{
    opacity: 1;
    top:-50px;
    left: -50px;
    width: 100px;
    height: 100px;
}


.box span::after{
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.1);
    opacity: 0;
    transition: 0.5s;
    backdrop-filter: blur(10px);
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.08);
    animation: animate 2s ease-in-out infinite;
    animation-delay: -1s;
}

.box:hover span::after{
    content: "";
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}
/*动画*/
@keyframes animate {
    0%,100%{
        transform: translateY(5px);
    }
    50%{
        transform: translate(-10px);
    }
}